{deps, [
    {erlang_js, ".*", {git, "https://github.com/mokele/erlang_js.git", {branch, "node"}}},
    {proper, ".*", {git, "https://github.com/manopapad/proper.git", "master"}},
    {getopt, ".*", {git, "https://github.com/jcomellas/getopt.git", "master"}},

    {'assert.js', ".*", {git, "https://github.com/Jxck/assert.git", "master"}, [raw]}
  ]}.
